diskcache
python-dotenv
streamlit
streamlit-aggrid
stqdm
openai
tenacity
websocket
httpx
trio-websocket
pydantic
trio

# Dev
black
isort
librosa
jiwer
ffmpeg-python
transformers
datasets
torchaudio
arabic_pronounce
pypinyin
Unidecode
PyYAML==5.1
codernitydb3
mishkal

datasets==2.1.0
transformers==4.18.0
torchaudio
librosa
jiwer
pydub